.frame {
    align-self: center;
    border-radius: $border-radius-default;
    position: relative;
    width: 80%;
    justify-self: flex-end;
    min-height: $section-height-default;
    height: auto;

    //background: $primary;
    color: $darkblue;

    h1, h2, h3 { color: $pink; }

    @include breakpoint(xmedium down) {
        //min-height: 350px;
        //padding-top: 1rem;
    }

    &--top {
        align-self: flex-start;
    }

    .frame__content {
        padding: 1rem 2rem 2rem;
        min-height: $section-height-default;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        &.center {
            justify-content: center;
        }

        &__padding_left {
            padding-left: 6rem;
        }

        @include breakpoint(xmedium down) {
            //min-height: auto;
        }

        @include breakpoint(medium only) {
            padding: 1rem 1.5rem;
        }

        @include breakpoint(small down) {
            padding: 1rem 1.2rem 1.2rem;
        }

        &_has_only_button {
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        &.paragraph__light p {
            color: $text-light;
        }

        &.paragraph__dark p {
            color: $text-dark;
        }

        p {
            padding-top: 1rem;
            &:first-of-type {
                padding-top: 0;
            }
        }
    }

    &:before, &:after {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: initial;
        background: $secondary;
        min-height: 100px;
        height: auto;
        width: calc(100% - 2rem);
        border-top-right-radius: $border-radius-default;
        border-bottom-right-radius: $border-radius-default;

        margin-left: -100%;

        @include breakpoint(xmedium down) {
            width: calc(100% - 1rem);
        }
    }

    &:after {
        right: 0;
        left: initial;
        margin-right: -100%;
        margin-left: auto;
        border-radius: $border-radius-default 0 0 $border-radius-default;
    }

    &.height__auto {
        height: auto;
        min-height: $section-height-default;
    }

    &.height__100 {
        min-height: 100%;
        height: auto;
        @include breakpoint(xmedium down) {
            //min-height: $section-height-default;
        }
    }
    &.mobile_height_auto {
        @include breakpoint(xmedium down) {
            min-height: auto !important;
        }
        .frame__content {
            @include breakpoint(xmedium down) {
                min-height: auto !important;
            }
        }
    }

    &.justify__flex-start {
        justify-content: flex-start !important;
        align-self: flex-start;
    }

    &.size__00 {
        width: 100%;
        &:after {
            margin-right: -1px;
        }
    }

    /******************************************
     * Content Sizes                          *
     * Before & After are the rest (100-size) *
     ******************************************/

    &.size__25 { width: 25%; }
    &.size__40 { width: 40%; }
    &.size__50 { width: 50%; }
    &.size__60 { width: 60%; }
    &.size__65 { width: 65%; }
    &.size__75 { width: 75%; }
    &.size__80 { width: 80%; }
    &.size__85 { width: 85%; }
    &.size__90 { width: 90%; }
    &.size__95 { width: 95%; }
    &.size__100 {
        width: 100%;

        &.before__darkblue, &.before__pink, &.before__primary, &.before__secondary, &.before__yellow {
            border-radius: 0 $border-radius-default $border-radius-default 0;
        }

        &.after__darkblue, &.after__pink, &.after__primary, &.after__secondary, &.after__yellow {
            border-radius: $border-radius-default 0 0 $border-radius-default;
        }



        @include breakpoint(xmedium down) {
            border-radius: 0 ;
            &.before__darkblue, &.before__pink, &.before__primary, &.before__secondary, &.before__yellow {
                border-radius: 0;
            }

            &.after__darkblue, &.after__pink, &.after__primary, &.after__secondary, &.after__yellow {
                border-radius: 0;
            }
        }
    }

    &.size__25,
    &.size__40,
    &.size__50,
    &.size__60,
    &.size__65,
    &.size__75,
    &.size__80,
    &.size__85,
    &.size__90,
    &.size__95 {
        @include breakpoint(large only) {
            width: 85%;
        }
        @include breakpoint(medium down) {
            width: 85%;
        }
    }

    &.mobile_size__100 {
        @include breakpoint(xmedium down) {
            width: 100%;
        }
    }



    /******** BEFORE COLOR FRAMES ********/
    &.before__ {

        &transparent {
            &:before { content: ''; background:transparent; }
            h1, h2 {
                color: $yellow;
            }
            &.color__secondary {
                h1, h2 {
                    color: $secondary;
                }
            }
        }

        &primary {
            &:before { content: ''; background: $primary; }
            h1, h2 { color: $primary;}
        }

        &secondary {
            &:before { content: ''; background: $secondary; }
            h1, h2 { color: $secondary; }
        }

        &pink {
            &:before { content: ''; background: $pink; }
            h1, h2 { color: $pink; }
        }

        &yellow {
            &:before { content: ''; background: $yellow; }
            h1, h2 { color: $yellow; }
        }

        &darkblue {
            &:before { content: ''; background: $darkblue; }
            h1, h2 { color: $darkblue; }
        }

        &lightpink {
            &:before { content: ''; background: $lightpink; }
            h1, h2 { color: $lightpink; }
        }

        &lightbrown {
            &:before { content: ''; background: $lightbrown; }
            h1, h2 { color: $lightbrown; }
        }
    }

    /******** AFTER COLOR FRAMES ********/
    &.after__ {
        &transparent {
            justify-self: flex-start;
            &:after { content: ''; background:transparent; }
            h1, h2 { color: $yellow;}
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }
        &primary {
            justify-self: flex-start;
            &:after { content: ''; background: $primary; }
            h1, h2 { color: $primary; }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }

        &secondary {
            justify-self: flex-start;
            &:after { content: ''; background: $secondary; }
            h1, h2 { color: $secondary; }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }

        &pink {
            justify-self: flex-start;
            &:after { content: ''; background: $pink; }
            h1, h2 { color: $pink; }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }

        &yellow {
            justify-self: flex-start;
            &:after { content: ''; background: $yellow; }
            h1, h2 { color: $yellow; }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }

        &darkblue {
            justify-self: flex-start;
            &:after { content: ''; background: $darkblue; }
            h1, h2 { color: $darkblue; }
            &.size__100 {
                //border-radius: $border-radius-default 0 0 $border-radius-default;
            }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }

        &lightpink {
            justify-self: flex-start;
            &:after { content: ''; background: $lightpink; }
            h1, h2 { color: $lightpink; }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }

        &lightbrown {
            justify-self: flex-start;
            &:after { content: ''; background: $lightbrown; }
            h1, h2 { color: $lightbrown; }
            img {
                @include breakpoint(xmedium down) {
                    float: right;
                }
            }

        }
    }



    /******** Background COLOR FRAMES ********/
    &.background__ {
        &primary {
            background: $primary;
            color: $darkblue;

            h1, h2 { color: white; }
        }

        &secondary {
            background: $secondary;
            color: $darkblue;

            h1, h2 { color: white !important; }
        }

        &pink {
            background: $pink;
            color: $darkblue;

            h1, h2 { color: white !important; }
        }

        &yellow {
            background: $yellow;
            color: $darkblue;

            h1, h2 { color: white !important; }
        }

        &darkblue {
            background: $darkblue;
            color: white;

            h1, h2 { color: white !important; }

            &.size__60 {
                @include breakpoint(xmedium down) {
                    margin-right: 1rem;
                }
            }
        }

        &lightpink {
            background: $lightpink;
            color: $darkblue;

            h1, h2 { color: $darkblue !important; }
        }

        &lightbrown {
            background: $lightbrown;
            color: $darkblue;

            h1, h2 { color: $darkblue !important; }
        }
    }


    /********* IMAGE BEFORE CONTAINER *********/
    .before__image__container {
        border-radius: 0 $border-radius-default $border-radius-default 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: initial;
        min-height: $section-height-default;
        height: auto;
        width: calc(100% - 2rem);

        margin-left: -100%;

        @include breakpoint(xmedium down) {
            width: 100%;
        }

        /*
        @include breakpoint(small down) {
            width: calc(100% - 1rem);
            margin-left: -100%;
        }
        */

        img {
            border-radius: 0 $border-radius-default $border-radius-default 0;
        }
    }

    /********* IMAGE STYLING ********/
    img {
        object-fit: cover;
        border-radius: $border-radius-default;
        height: 100%;
        min-height: $section-height-default;
        width: 100%;

        @include breakpoint(xmedium down) {
            width: calc(100% - 1rem);
        }
    }

    /******** ICONs with Background ********/
    .frame__icon_round {
        width: 112px;
        height: 112px;
        background: white;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;

        .icon {
            width: 100%;
        }
    }


    /******** FRAME CATEGORY IMAGES SLIDER - NTH's **********/

    .frame__colored_list_headings {

        li {
            a, p {
                color: $text-light;
            }

            &:nth-child(1) {
                h3 {
                    color: $pink !important;
                }
            }

            &:nth-child(2) {
                h3 {
                    color: $primary !important;
                }
            }

            &:nth-child(3) {
                h3 {
                    color: $yellow !important;
                }
            }

            &:nth-child(4) {
                h3 {
                    color: $secondary !important;
                }
            }
        }

    }


}



