.content {
    padding: 2rem;

    &.textAlign__right {
        text-align: right;
    }

    &.textAlign__left {
        text-align: left;
    }

    &.textAlign__center {
        text-align: center;
    }

    &.textAlign__justify {
        text-align: justify;
    }
}