.grid {
    display: grid;
    gap: $grid-spacing;
    align-content: center;
    justify-content: space-between;

    @include breakpoint(medium down) {
        gap: 1rem;
    }

    &.center {
        align-items: center;
    }

    &.paddingTop {
        padding-top: 3rem;
    }

    &.fraction-auto {
        grid-template-columns: 1fr auto;
    }

    &.half-half {
        grid-template-columns: 1fr 1fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }
    }

    &.three-thirds {
        grid-template-columns: 1fr 1fr 1fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }

    }



    &.four-fourths {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr 1fr;
        }


        @include breakpoint(small down) {
            grid-template-columns: 1fr;
        }

    }

    &.two-rows {
        grid-template-rows: 1fr 1fr;
    }

    &.seventy-thirty {
        grid-template-columns: 2fr 1fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }

    }
    &.thirty-seventy {
        grid-template-columns: 1fr 2fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }
    }

    &.twenty-eighty {
        grid-template-columns: 1fr 4fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }
    }

    &.eighty-twenty {
        grid-template-columns: 4fr 1fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }
    }

    &.fourty-sixty {
        grid-template-columns: 2fr 3fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }

    }

    &.sixty-fourty {
        grid-template-columns: 3fr 2fr;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }

    }
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &.full {
        width: 100%;
    }

    &.seventy {
        width: 70%;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.marginTop {
        margin-top: 1rem;
    }

    &.marginLeft {
        margin-left: 3rem;
    }

    &.spaceBetween {
        justify-content: space-between;
    }

    &.gap {
        div, button, input, p {
            margin-left: 1rem;
        }
    }

    &.alignCenter {
        align-items: center;
    }

    &.flex__full_center {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .flex_item__fullrow {
        width: 100%;
    }
}