<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js" integrity="sha512-EATaemfsDRVs6gs1pHbvhc6+rKFGv8+w4Wnxk4LmkC0fzdVoyWb+Xtexfrszd1YuUMBEhucNuorkf8LpFBhj6w==" crossorigin="anonymous"></script>
<body>
<!-- HEADER WITH NAVIGATION -->
<header class="header__inner">
    <!-- LOGO CONTAINER -->
    <div class="logo-container">
        <a href="#">
            <div class="logo__popup icon">
                <img src="media/images/logo-popup.png" alt="Logo Popup Esch"/>
            </div>
            <div class="logo__esch">
                {{ svg("logo-esch", "ui", "null", "red", "54px") }}
            </div>
        </a>
    </div>
    <!-- NAV-CONTAINER -->
    <nav class="header__nav menu-container">
        <ul class="menu js-menu">
            <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
            <li class="menu__item"><a class="menu__link menu__link__active" href="agenda.html">Agenda</a></li>
            <li class="menu__item"><a class="menu__link" href="espacecandidats.html">Espace candidats</a></li>
            <li class="menu__item"><a class="menu__link" href="faq.html">FAQ</a></li>
            <li class="menu__item"><a class="menu__link menu__link__svg">{{ svg("np_contact", "ui", "null", "black", "32px", "Contact") }}</a></li>
            <button class="menu__close-button js-menu__toggle-button"> </button>
        </ul>
    </nav>
    <!-- MOBILE TOGGLE -->
    <button class="header__menu-toggle__container js-menu__toggle-button">
        <div class="header__menu-toggle "></div>
    </button>
</header>
<main class="js-main" id="main">

    <!---------------------------------
    -        Carousel Container       -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="header__carousel grid fourty-sixty">
        <div class="frame__left__container">
            <div class="frame background__primary before__secondary">
                <div class="frame__content format-text">
                    <h1>
                        lancez votre
                        activité grâce à
                        nos Pop-up stores !
                    </h1>
                    <p class="dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="frame__buttons__container">
                <a href="#" class="button button__round" data-after="">
                    <span>je lance mon activité</span>
                    <span class="after__icon after__icon__rotate">{{ svg("np_contact", "ui", "null", "white", "42px") }}</span>
                </a>
            </div>
        </div>
        <div class="carousel header__carousel__container">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":false , "wrapAround":false, "prevNextButtons": false, "imagesLoaded": true}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
    </section>


    <section class="agenda">
        <div class="agenda__calendar__container">
            <div class="agenda__calendar__picker">
                <h2 class="h_color__white">Les prochains évènements</h2>
                <div id="js-calendar-picker"></div>
                <span class="agenda__results"><span class="agenda__results__number">x</span> résultats...</span>
            </div>
            <div class="agenda__calendar__categories">
                <button class="category-toggle__all js-category-toggle__all">All</button>
                <button class="category-toggle__shop js-category-toggle__shop">Shop</button>
                <button class="category-toggle__food js-category-toggle__food">Food</button>
                <button class="category-toggle__services js-category-toggle__services">Services</button>
                <button class="category-toggle__event js-category-toggle__event">Event</button>
            </div>
        </div>

        <div class="agenda__container--right">
            <div class="agenda__events__container js-events-container">
                <!-- <div class="event__item event-category__shop event-action__website">
                    <div class="event__item__category_button"></div>
                    <header class="event__item__header event-category__shop">
                        <img src="https://picsum.photos/600/500" class="event__item__image" alt="" />
                    </header>
                    <div class="event__item__content">
                        <h3 class="event__item__title">Lorem ipsum</h3>
                        <time class="event__item__date js-event-data_20-10-2020__26-10-2020">Du 20/10 au 26/10/2020</time>
                        <p class="event__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam atque aut deleniti distinctio dolor dolorem dolorum, est hic impedit ipsa iure maxime, minus necessitatibus neque, pariatur. Laboriosam, molestiae!</p>
                    </div>
                    <a href="#">
                        <div class="event__item__action-button"></div>
                    </a>
                </div>-->
            </div>
            <div class="agenda__see-more"></div>
        </div>
    </section>




    <!---------------------------------
     -         CANDIDATE FRAME         -
     -         DOWNLOAD FRAME          -
     ----------------------------------->
    <section class="candidate">
        <div class="candidate__download_container">
            <a href="#">
                <button class="download__icon">{{ svg("np_book-download_2", "ui", "null", "white", "32px", "Téléchargez notre brochure") }}</button>
            </a>
            <div class="content textAlign__right format-text">
                <h3>
                    Téléchargez notre brochure<br />
                    et devenez candidat
                </h3>
                <p class="light">
                    Maecenas tempus pharetra neque, eget efficitur justo varius vitae. Proin quis elit cursus, imperdiet diam vel, dictum elit. Curabitur varius sit amet magna et iaculis. Sed mattis, mi eget rutrum aliquam, risus nibh rhoncus mauris, eu porttitor diam ante non nulla. Nunc eu turpis euismod, porttitor lorem ut, interdum ex. Etiam pretium condimentum blandit. Etiam at risus dignissim ligula dictum vestibulum eget ac augue
                </p>
            </div>
        </div>
        <div class="candidate__picture_container" data-before="ENVIE DE TENTER VOTRE CHANCE ?">
            <div class="candidate__button__container">
                <a href="/" class="button button__round" data-after="">
                    <span>Espace client</span>
                    <span class="after__icon">{{ svg("arrow", "ui", "null", "white", "32px") }}</span>
                </a>
            </div>
            <img src="https://picsum.photos/600/500" class="" alt="" />
        </div>
    </section>


    <!---------------------------------
    -        CONTACT Container       -
    ----------------------------------->
    <section class="contact__container">
        <header>
            <h2>CONTACTEZ-NOUS</h2>
        </header>
        <div class="contact">
            <div class="contact__item format-text">
                <h3>
                    Christian Bettendorff
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-7721
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu" class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__item format-text">
                <h3>
                    Andrea Wirtz
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-2430
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu"  class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__button__container">
                <button class="button button__normal secondary">
                    Envoyez un message
                </button>
            </div>
        </div>
    </section>


    <!---------------------------------
    -           MAP Container         -
    ----------------------------------->
    <section class="map">
        <img src="media/images/map.png" alt="Map"/>
    </section>

    <!---------------------------------
    -           FOOTER Container         -
    ----------------------------------->
    <footer class="page__footer format-text">
        <div class="footer__item">
            <p class="light">
                &copy; <strong>2020</strong>
                - réalisé par idp.lu et <a class="light" href="https://lightbulb.lu">lightbulb</a>
            </p>
        </div>
        <div class="footer__item">
            <p class="light">
                <strong>
                    121, rue de l'Alzette,<br />
                    L-4011 Esch-sur-Alzette
                </strong>
            </p>
        </div>
        <div class="footer__item ">
            <ul class="list__inline light">
                <li><a>Conditions générales d'utilisation</a></li>
                <li><a>Politique de protection des données</a></li>
                <li><a>Politique de cookies</a></li>
            </ul>
            <div class="footer__icon">
                {{ svg("maer-sinn-dynamesch", "ui", "null", "red", "180px") }}
            </div>
        </div>
    </footer>

    <a href="#main" class="js-scroll">
        <div class="to-top">
            {{ svg("moving_up", "ui", "null", "white", "42px") }}
        </div>
    </a>
</main>
</body>
