<body>
<!-- HEADER WITH NAVIGATION -->
<header class="header__inner">
    <!-- LOGO CONTAINER -->
    <div class="logo-container">
        <a href="#">
            <div class="logo__popup icon">
                <img src="media/images/logo-popup.png" alt="Logo Popup Esch"/>
            </div>
            <div class="logo__esch">
                {{ svg("logo-esch", "ui", "null", "red", "54px") }}
            </div>
        </a>
    </div>
    <!-- NAV-CONTAINER -->
    <nav class="header__nav menu-container">
        <ul class="menu js-menu">
            <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="agenda.html">Agenda</a></li>
            <li class="menu__item"><a class="menu__link menu__link__active" href="espacecandidats.html">Espace candidats</a></li>
            <li class="menu__item"><a class="menu__link" href="faq.html">FAQ</a></li>
            <li class="menu__item"><a class="menu__link menu__link__svg">{{ svg("np_contact", "ui", "null", "black", "32px", "Contact") }}</a></li>
            <button class="menu__close-button js-menu__toggle-button"> </button>
        </ul>
    </nav>
    <!-- MOBILE TOGGLE -->
    <button class="header__menu-toggle__container js-menu__toggle-button">
        <div class="header__menu-toggle "></div>
    </button>
</header>
<main class="js-main">

    <!---------------------------------
    -        Carousel Container       -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="header__carousel grid fourty-sixty">
        <div class="frame__left__container">
            <div class="frame background__primary before__secondary">
                <div class="frame__content format-text">
                    <h1>
                        DEVENEZ ACTEUR DE
                        VOTRE ACTIVITé avec
                        Nos pop-up stores
                    </h1>
                    <p class="dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="frame__buttons__container">
                <a href="#" class="button button__round background__darkblue" data-after="">
                    <span>voir la brochure</span>
                    <span class="after__icon after__icon__resize">{{ svg("np_book-download_2", "ui", "null", "white", "42px") }}</span>
                </a>
                <a href="#" class="button button__round" data-after="">
                    <span>Je lance mon activité</span>
                    <span class="after__icon after__icon__rotate">{{ svg("np_launch", "ui", "null", "white", "42px") }}</span>
                </a>
            </div>
        </div>
        <div class="carousel header__carousel__container">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":false , "wrapAround":false, "prevNextButtons": false, "imagesLoaded": true}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
    </section>





    <!---------------------------------
    -         FRAME Container         -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="grid half-half">
        <div class="frame carousel carousel__frame__left">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":true , "contain":true, "wrapAround":false, "pageDots": false, "imagesLoaded": true, "initialIndex":".is-initial-select"}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell is-initial-select"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
        <div class="frame after__primary size__80">
            <div class="frame__content format-text">
                <h2 class="color__pink">
                    POURQUOI PARTICIPER à un pop-up ?
                </h2>
                <p  class="dark">
                    Vous avez envie de vous lancer en tant qu’indépendant ? Vous avez déjà un ou même plusieurs magasin(s) mais vous souhaitez tester un nouveau concept ou produit ? Ou vous souhaitez peut-être découvrir le marché eschois, sans engagement ferme à long terme ?
                    <br /><br />
                    Le Pop-Up Esch pourrait être le bon format pour vous. Il vous offre la possibilité de proposer un produit ou de lancer une idée commerciale, sans investissements ou risques majeurs. Plusieurs exposants ont la possibilité de se présenter aux clients au sein de cette surface compartimentée. Une durée de location limitée vous permet de profiter du contact direct, de réaliser des ventes, d’obtenir des retours personnels et de développer un réseau avec d’autres commerçants, les acteurs de la Ville d’Esch-sur-Alzette et les visiteurs. Le pop-up store est aussi une plateforme pour proposer des produits saisonniers de façon ciblée.
                </p>
            </div>
        </div>
    </section>


    <!---------------------------------
    -         FRAME Container         -
    -  Left frame with before-color   -
    -      Right Frame with Text      -
    ----------------------------------->
    <section class="grid thirty-seventy center">
        <div class="frame size__85 mobile_size__100 before__transparent">
            <div class="frame__content format-text">
                <h3>Le concept du pop-up esch</h3>
                <p class="dark">
                    Il propose un maximum de sept surfaces commerciales entre 15 et 30 m2, lesquelles peuvent être organisées et aménagées en fonction des besoins et de la demande. L’aménagement intérieur est flexible, neutre et contemporain, afin de créer un cadre parfait pour chaque produit.
                    <br /><br />
                    Le Pop-up Esch offre un maximum sept surfaces délimitées. Une surface commune d’environ 50 m2 se trouve au centre du local. Des vitrines pour la présentation de produits sont
                    disponibles à l’avant.
                </p>
            </div>
        </div>
        <div class="frame after__pink size__00">
            <div class="frame__content" style="width:100%"></div>
        </div>
    </section>


    <!--------------------------------------
    -            FRAME Container           -
    - Left frame with before-color & Image -
    -        Right Frame with Text         -
    ---------------------------------------->
    <section class="grid half-half center">
        <div class="frame before__yellow size__85">
            <img src="https://picsum.photos/600/500" class="articles__item__image" alt="" />
        </div>
        <div class="frame size__85 after__transparent">
            <div class="frame__content format-text list__items_bold">
                <h2>
                    LES CONDITIONS DE PARTICIPATION
                </h2>
                <p class="dark">
                    Après concertation avec l’équipe de projet de la Ville d’Esch, la durée de la location est fixée par un contrat de
                    sous-location.  Le loyer est un prix fixe par semaine. Le loyer pour toute la durée de la location ainsi que la caution
                    sont à verser intégralement à l’avance.
                </p>
                <ul class="text__dark">
                    <li>Loyer, charges comprises : 75 €/semaine</li>
                    <li>Durée de la location : 1 à 12 semaines</li>
                    <li>Caution : 150 €</li>
                </ul>
                <br />
                <p class="dark">
                    En tant qu’utilisateur d’une surface popup, tu es responsable de la gestion de tes ressources humaines pour mener à bien ton activité pendant les heures d’ouverture ainsi que pour la gestion de ton stock pendant la durée de ta présence au pop-up.
                </p>
            </div>
        </div>
    </section>


    <!-------------------------------------
    -           FRAME Container           -
    -        Left frame with Text         -
    -  Right Frame after_color and Image  -
    --------------------------------------->
    <section class="grid sixty-fourty center">
        <div class="frame size__90 before__transparent color__secondary mobile_size__100">
            <div class="frame__content format-text">
                <h2>
                    LES AVANTAGES pour lancer mon activité
                </h2>
                <p class="dark">
                    Le centre-ville d’Esch vous offre des conditions attrayantes pour votre projet de pop-up!
                    <br /><br />
                    Environ 170 boutiques invitent au shopping dans un cadre architectural plaisant, une offre qui est complétée par une multitude de services et une gastronomie variée.
                    <br /><br />
                    Esch sera Capitale européenne de la culture en 2022 et s’est fixé comme objectif de montrer une nouvelle facette créative du Luxembourg. Esch se donne ainsi l’opportunité de laisser une empreinte auprès de son public international en se présentant comme une ville ouverte et dynamique.
                    <br /><br />
                    Pour améliorer l’expérience d’achat des visiteurs et des habitants, Esch-sur-Alzette a lancé un programme de revitalisation urbaine déjà partiellement mis en œuvre : des sièges colorés invitent à flâner à l’air libre, un nouveau concept d’éclairage crée une ambiance tout au long de la journée et de la nuit, un projet de création d’espaces verts
                    a permis de faire entrer la nature dans la zone piétonne et la campagne de lutte contre les déchets dans les espaces publics contribue à la création d’un environnement propre. Un concept d’amélioration de l’espace de stationnement est en cours de mise en œuvre.
                </p>
            </div>
        </div>
        <div class="frame after__secondary size__75">
            <img src="https://picsum.photos/600/500" class="articles__item__image" alt="" />
        </div>
    </section>



    <!-------------------------------------
    -           FRAME Container           -
    -        Left frame with Text         -
    -  Right Frame after_color and Image  -
    --------------------------------------->
    <section class="grid eighty-twenty center">
        <div class="frame background__darkblue size__60">
            <div class="before__image__container">
                <img src="https://picsum.photos/600/500" class="articles__item__image" alt="" />
            </div>
            <div class="frame__content format-text">
                <h2>COMMENT POSER MA CANDIDATURE ?</h2>
                <p class="light">
                    <br />
                    Via le formulaire de candidature en respectant certains critères essentiels :
                    <br />
                </p>
                <ul>
                    <li><strong>Qualité du concept</strong> (faisabilité, mixité commerciale, qualité des produits/services…)</li>
                    <li><strong>Potentiel du marché</strong> (public cible, structure des prix…)</li>
                    <li><strong>Durabilité</strong> (caractère régional et saisonnier…)</li>
                    <li><strong>Innovation & créativité</strong> (nouveauté du concept, des produits/services, créativité et originalité…)</li>
                    <li><strong>Plus-value</strong> (plus-value sociale, le concept contribue à la cohésion dans la ville…)</li>
                </ul>
            </div>
        </div>
        <div class="frame background__darkblue after__darkblue size__100 height__100">
            <div class="frame__content format-text frame__content_has_only_button">
                <a href="#" class="button__link">
                    <button class="button button__round" data-after="">
                        <span>je postule</span>
                        <span class="after__icon after__icon__rotate">{{ svg("np_launch", "ui", "null", "white", "42px") }}</span>
                    </button>
                </a>
            </div>
        </div>
    </section>




    <!---------------------------------
    -        CONTACT Container       -
    ----------------------------------->
    <section class="contact__container">
        <header>
            <h2>CONTACTEZ-NOUS</h2>
        </header>
        <div class="contact">
            <div class="contact__item format-text">
                <h3>
                    Christian Bettendorff
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-7721
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu" class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__item format-text">
                <h3>
                    Andrea Wirtz
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-2430
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu"  class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__button__container">
                <button class="button button__normal secondary">
                    Envoyez un message
                </button>
            </div>
        </div>
    </section>


    <!---------------------------------
    -           MAP Container         -
    ----------------------------------->
    <section class="map">
        <img src="media/images/map.png" alt="Map"/>
    </section>

    <!---------------------------------
    -           FOOTER Container         -
    ----------------------------------->
    <footer class="page__footer format-text">
        <div class="footer__item">
            <p class="light">
                &copy; <strong>2020</strong>
                - réalisé par idp.lu et <a class="light" href="https://lightbulb.lu">lightbulb</a>
            </p>
        </div>
        <div class="footer__item">
            <p class="light">
                <strong>
                    121, rue de l'Alzette,<br />
                    L-4011 Esch-sur-Alzette
                </strong>
            </p>
        </div>
        <div class="footer__item list_with_svg">
            <ul class="list__inline light">
                <li><a>Conditions générales d'utilisation</a></li>
                <li><a>Politique de protection des données</a></li>
                <li><a>Politique de cookies</a></li>
            </ul>
            <div class="footer__icon">
                {{ svg("maer-sinn-dynamesch", "ui", "null", "red", "180px") }}
            </div>
        </div>
    </footer>

    <a href="#main" class="js-scroll">
        <div class="to-top">
            {{ svg("moving_up", "ui", "null", "white", "42px") }}
        </div>
    </a>
</main>
</body>
