<body>
<!-- HEADER WITH NAVIGATION -->
<header class="header__inner">
    <!-- LOGO CONTAINER -->
    <div class="logo-container">
        <a href="#">
            <div class="logo__popup icon">
                <img src="media/images/logo-popup.png" alt="Logo Popup Esch"/>
            </div>
            <div class="logo__esch">
                {{ svg("logo-esch", "ui", "null", "red", "54px") }}
            </div>
        </a>
    </div>
    <!-- NAV-CONTAINER -->
    <nav class="header__nav menu-container">
        <ul class="menu js-menu">
            <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="agenda.html">Agenda</a></li>
            <li class="menu__item"><a class="menu__link" href="espacecandidats.html">Espace candidats</a></li>
            <li class="menu__item"><a class="menu__link menu__link__active" href="faq.html">FAQ</a></li>
            <li class="menu__item"><a class="menu__link menu__link__svg">{{ svg("np_contact", "ui", "null", "black", "32px", "Contact") }}</a></li>
            <button class="menu__close-button js-menu__toggle-button"> </button>
        </ul>
    </nav>
    <!-- MOBILE TOGGLE -->
    <button class="header__menu-toggle__container js-menu__toggle-button">
        <div class="header__menu-toggle "></div>
    </button>
</header>
<main class="js-main">

    <!---------------------------------
    -        Carousel Container       -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="header__carousel grid fourty-sixty">
        <div class="frame__left__container">
            <div class="frame background__primary before__secondary">
                <div class="frame__content format-text">
                    <h1>
                        vous avez besoin
                        d’informations
                        Complémentaires ?
                    </h1>
                    <p class="dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="frame__buttons__container">
                <a href="#" class="button button__round" data-after="">
                    <span>contactez-nous</span>
                    <span class="after__icon after__icon__rotate">{{ svg("np_contact", "ui", "null", "white", "42px") }}</span>
                </a>
            </div>
        </div>
        <div class="carousel header__carousel__container">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":false , "wrapAround":false, "prevNextButtons": false, "imagesLoaded": true}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
    </section>





    <!----------------------------------
    -           FAQ Container          -
    ------------------------------------>
    <section class="faq__container grid twenty-eighty">
        <div class="frame height__100">
            <div class="before__image__container">
                <img src="https://picsum.photos/600/500" class="articles__item__image" alt="" />
            </div>
        </div>
        <div class="frame height__auto size__100 after__secondary justify__flex-start">
            <div class="faq__header format-text">
                <h2>Trouvez LES Réponses à vos questions !</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tempor ipsum. Sed ullamcorper quis lorem quis maximus. Aenean rhoncus, eros in dictum sollicitudin, leo turpis pellentesque est, quis venenatis lacus risus sed neque. Integer finibus velit dolor, a ultrices ex laoreet ut. Proin cursus, dui sit amet scelerisque porttitor, nunc justo tincidunt ligula, sit amet malesuada felis orci sit amet ligula. Nunc eu turpis euismod, porttitor lorem ut, interdum ex. Etiam pretium condimentum blandit. Etiam at risus dignissim ligula dictum vestibulum eget ac augue. Ut cursus quam id rutrum consectetur. In sed lacus bibendum, cursus orci in.
                </p>
            </div>
            <div class="faq__content">
                <details open class="js-details">
                    <summary>POP-UP STORE, C’EST QUOI ?</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

                <details class="js-details">
                    <summary>Les particularités d’un pop-up</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

                <details class="js-details">
                    <summary>Quels sont les secteurs d’activités représentés ?</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

                <details class="js-details">
                    <summary>Pourquoi participer à un pop-up ?</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

                <details class="color__secondary js-details">
                    <summary>quels sont les conditions de participation ?</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

                <details class="js-details">
                    <summary>Quels sont Les avantages liés à mon activité ?</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

                <details class="color__darkblue js-details">
                    <summary>comment poser ma candidature ?</summary>
                    <div class="details__content">
                        <div class="content">
                            <p>
                                Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                                <br />
                                Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                            </p>
                        </div>
                    </div>
                </details>

            </div>
        </div>
    </section>



    <!---------------------------------
    -        CONTACT Container       -
    ----------------------------------->
    <section class="contact__container">
        <header>
            <h2>CONTACTEZ-NOUS</h2>
        </header>
        <div class="contact">
            <div class="contact__item format-text">
                <h3>
                    Christian Bettendorff
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-7721
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu" class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__item format-text">
                <h3>
                    Andrea Wirtz
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-2430
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu"  class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__button__container">
                <button class="button button__normal secondary">
                    Envoyez un message
                </button>
            </div>
        </div>
    </section>


    <!---------------------------------
    -           MAP Container         -
    ----------------------------------->
    <section class="map">
        <img src="media/images/map.png" alt="Map"/>
    </section>

    <!---------------------------------
    -           FOOTER Container         -
    ----------------------------------->
    <footer class="page__footer format-text">
        <div class="footer__item">
            <p class="light">
                &copy; <strong>2020</strong>
                - réalisé par idp.lu et <a class="light" href="https://lightbulb.lu">lightbulb</a>
            </p>
        </div>
        <div class="footer__item">
            <p class="light">
                <strong>
                    121, rue de l'Alzette,<br />
                    L-4011 Esch-sur-Alzette
                </strong>
            </p>
        </div>
        <div class="footer__item ">
            <ul class="list__inline light">
                <li><a>Conditions générales d'utilisation</a></li>
                <li><a>Politique de protection des données</a></li>
                <li><a>Politique de cookies</a></li>
            </ul>
            <div class="footer__icon">
                {{ svg("maer-sinn-dynamesch", "ui", "null", "red", "180px") }}
            </div>
        </div>
    </footer>

    <a href="#main" class="js-scroll">
        <div class="to-top">
            {{ svg("moving_up", "ui", "null", "white", "42px") }}
        </div>
    </a>
</main>
</body>
