<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<body>
<!-- HEADER WITH NAVIGATION -->
<header class="header__inner">
    <!-- LOGO CONTAINER -->
    <div class="logo-container">
        <a href="#">
            <div class="logo__popup icon">
                <img src="media/images/logo-popup.png" alt="Logo Popup Esch"/>
            </div>
            <div class="logo__esch">
                {{ svg("logo-esch", "ui", "null", "red", "54px") }}
            </div>
        </a>
    </div>
    <!-- NAV-CONTAINER -->
    <nav class="header__nav menu-container">
        <ul class="menu js-menu">
            <li class="menu__item"><a class="menu__link menu__link__active" href="index.html">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="agenda.html">Agenda</a></li>
            <li class="menu__item"><a class="menu__link" href="espacecandidats.html">Espace candidats</a></li>
            <li class="menu__item"><a class="menu__link" href="faq.html">FAQ</a></li>
            <li class="menu__item"><a class="menu__link menu__link__svg" href="#">{{ svg("np_contact", "ui", "null", "black", "32px", "Contact") }}</a></li>
            <button class="menu__close-button js-menu__toggle-button"> </button>
        </ul>
    </nav>
    <!-- MOBILE TOGGLE -->
    <button class="header__menu-toggle__container js-menu__toggle-button">
        <div class="header__menu-toggle "></div>
    </button>
</header>
<main class="js-main" id="main">

    <!---------------------------------
    -        Carousel Container       -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="header__carousel grid fourty-sixty">
        <div class="frame__left__container">
            <div class="frame background__primary before__secondary">
                <div class="frame__content format-text">
                    <h2 class="h_color__darkblue">Ouverture Vendredi 02 octobre</h2>
                    <h1>
                        Découvrez
                        notre nouveau
                        CONCEPT STORE
                    </h1>
                    <p class="dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <div class="carousel header__carousel__container">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":false , "wrapAround":false, "prevNextButtons": false, "imagesLoaded": true}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
    </section>


    <!---------------------------------
    -    Upcoming Events Container    -
    ----------------------------------->
    <section class="upcoming-events__container">
        <div class="upcoming-events__background"></div>
        <div class="upcoming-events__content  grid thirty-seventy">
            <div class="frame format-text">
                <div class="frame__content">
                    <h3 class="h_color__darkblue">Les prochains évènements</h3>
                    <p class="dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
                    <a href="agenda.html" class="button button__round upcoming-events__complete-button" data-after="">
                        <span>agenda complet</span>
                        <span class="after__icon">{{ svg("agenda_complet", "ui", "null", "white", "42px") }}</span>
                    </a>
                </div>
            </div>

            <div class="upcoming-events__right-side">
                <div class="upcoming-events__weeks">
                    <div class="upcoming-events__weeks-container">

                        <!--<div class="upcoming-events__week upcoming-events__week--active">
                            <span class="upe__week-day">20</span>
                            <span class="upe__week-month">Juillet</span>
                            <span class="upe__week-results">10 résults</span>
                        </div>-->

                    </div>
                </div>

                <!-- Create Flickity in JS not html data
                        and call it after fetch -->
                <div class="frame carousel upcoming_events__list-container carousel__frame__right">
                    <div class="frame__content js-upcoming-events-container main-carousel agenda-carousel js-agenda-carousel">
                        <!--<div class="event__item event-category__shop event-action__website">
                            <div class="event__item__category_button"></div>
                            <header class="event__item__header event-category__shop">
                                <img src="https://picsum.photos/600/500" class="event__item__image" alt="" />
                            </header>
                            <div class="event__item__content">
                                <h3 class="event__item__title">Lorem ipsum1</h3>
                                <time class="event__item__date js-event-data_20-10-2020__26-10-2020">Du 20/10 au 26/10/2020</time>
                                <p class="event__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam atque aut deleniti distinctio dolor dolorem dolorum, est hic impedit ipsa iure maxime, minus necessitatibus neque, pariatur. Laboriosam, molestiae!</p>
                            </div>
                            <a href="#">
                                <div class="event__item__action-button"></div>
                            </a>
                        </div>
                        -->
                        <!--<a href="agenda.html">
                            <div class="event__item__show-all">
                                <h2 class="h_color__white">Voir le calendrier complet</h2>
                            </div>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---------------------------------
    -         FRAME Container         -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="grid half-half">
        <div class="frame before__pink size__60">
            <div class="frame__content format-text">
                <h2 class="color__pink">
                    POP-UP STORE, C'EST QUOI?
                </h2>
                <p class="dark">
                    Le concept des pop-up stores (de l’anglais « to pop up : « apparaître soudainement ») est simple : des locaux vacants sont temporairement utilisés pour des activités commerciales.
                    <br />
                    Une boutique cette semaine, un magasin de jouets la semaine prochaine, un magasin de vélos dans un mois, puis un atelier de tailleur – la diversité, le dynamisme et l’effet de surprise sont les éléments clés du pop-up et lui confèrent son caractère spécial.
                </p>
            </div>
        </div>
        <div class="frame carousel carousel__frame__right">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":true , "contain":true, "wrapAround":false, "pageDots": false, "imagesLoaded": true}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
    </section>


    <!---------------------------------
    -         FRAME Container         -
    -  Left frame with before-color   -
    -      Right Frame with Text      -
    ----------------------------------->
    <section class="grid seventy-thirty center">
        <div class="frame before__yellow size__60">
            <img src="https://picsum.photos/600/500" class="articles__item__image" alt="" />
        </div>
        <div class="frame after__yellow">
            <div class="frame__content format-text">
                <h2>
                    PARTICULARITÉS
                    Du POP-UP store
                </h2>
                <p class="dark">
                    Jusqu’à sept exposants ont la possibilité de
                    se présenter au sein de cette surface compartimentée.
                    <br /><br />
                    Vous trouverez ainsi une offre diversifiée de produits et de services au sein d’un seul magasin. En raison de la durée de fonctionnement limitée des stands (1 à 12 semaines), les fournisseurs du pop-up changent constamment.
                    <br /><br />
                    Cela vaut donc la peine d’y passer régulièrement !
                </p>
            </div>
        </div>
    </section>


    <!---------------------------------
    -         FRAME Container         -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="grid half-half center">
        <div class="frame background__darkblue before__darkblue size__100">
            <div class="frame__content frame__content__padding_left">
                <h2>
                    QUELLES BRANCHES PEUVENT ETRE REPRESENTEES AU POP-UP ESCH?
                </h2>
                <ul class="grid four-fourths paddingTop frame__colored_list_headings">
                    <li class="flex flex__full_center">
                        <div class="frame__icon_round">
                            {{ svg("services-colored", "ui", "null", "red", "75px") }}
                        </div>
                        <h3 class="h_color__pink flex_item__fullrow h_padding__top">Services</h3>
                        <p>Prestation de services</p>
                    </li>
                    <li class="flex flex__full_center">
                        <div class="frame__icon_round">
                            {{ svg("shop-colored", "ui", "null", "red", "45px") }}
                        </div>
                        <h3 class="h_color__primary flex_item__fullrow h_padding__top">Shop</h3>
                        <p>Commerce de détail</p>
                    </li>
                    <li class="flex flex__full_center">
                        <div class="frame__icon_round">
                            {{ svg("food-colored", "ui", "null", "red", "55px") }}
                        </div>
                        <h3 class="h_color__yellow flex_item__fullrow h_padding__top">Food</h3>
                        <p>Alimentation</p>
                    </li>
                    <li class="flex flex__full_center">
                        <div class="frame__icon_round">
                            {{ svg("expo-colored", "ui", "null", "red", "75px") }}
                        </div>
                        <h3 class="h_color__secondary flex_item__fullrow h_padding__top">Expo/Event</h3>
                        <p>Expositions</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="frame after__darkblue size__60 carousel carousel__frame__right">
            <div class="main-carousel"
                 data-flickity='{ "freeScroll":true , "contain":true, "wrapAround":false, "pageDots": false, "imagesLoaded": true}'>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
                <div class="carousel-cell"><img src="https://picsum.photos/600/500" class="articles__item__image" alt="" /></div>
            </div>
        </div>
    </section>


    <!---------------------------------
    -         CANDIDATE FRAME         -
    -         DOWNLOAD FRAME          -
    ----------------------------------->
    <section class="candidate">
        <div class="candidate__download_container">
            <a href="#">
                <button class="download__icon">{{ svg("np_book-download_2", "ui", "null", "white", "32px", "Téléchargez notre brochure") }}</button>
            </a>
            <div class="content textAlign__right format-text">
                <h3>
                    Téléchargez notre brochure<br />
                    et devenez candidat
                </h3>
                <p class="light">
                    Maecenas tempus pharetra neque, eget efficitur justo varius vitae. Proin quis elit cursus, imperdiet diam vel, dictum elit. Curabitur varius sit amet magna et iaculis. Sed mattis, mi eget rutrum aliquam, risus nibh rhoncus mauris, eu porttitor diam ante non nulla. Nunc eu turpis euismod, porttitor lorem ut, interdum ex. Etiam pretium condimentum blandit. Etiam at risus dignissim ligula dictum vestibulum eget ac augue
                </p>
            </div>
        </div>
        <div class="candidate__picture_container" data-before="ENVIE DE TENTER VOTRE CHANCE ?">
            <div class="candidate__button__container">
                <a href="/" class="button button__round" data-after="">
                    <span>Espace client</span>
                    <span class="after__icon">{{ svg("arrow", "ui", "null", "white", "32px") }}</span>
                </a>
            </div>
            <img src="https://picsum.photos/600/500" class="" alt="" />
        </div>
    </section>


    <!---------------------------------
    -         FRAME Container         -
    -  Left frame with before-color   -
    -    Right Frame with Carousel    -
    ----------------------------------->
    <section class="grid seventy-thirty center">
        <div class="frame background__lightpink before__lightbrown size__50">
            <div class="frame__content center">
                {{ svg("maer-sinn-dynamesch", "ui", "null", "red", "254px") }}
            </div>
        </div>
        <div class="frame after__darkblue size__100 mobile_height_auto">
            <div class="frame__content format-text">
                <h2>UNE INITIATIVE DE CLAIRE</h2>
                <p class="dark">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet architecto deleniti fugit iste molestias necessitatibus nemo nisi obcaecati, officia quaerat quod sint voluptatum. Officia, temporibus, veritatis. Nesciunt odio, reiciendis.
                    <br /><br />
                </p>
                <a href="#" class="button button__round" data-after="">
                    <span>Qu'est-ce que Claire?</span>
                    <span class="after__icon">{{ svg("np_eye", "ui", "null", "white", "42px") }}</span>
                </a>
            </div>
        </div>
    </section>





    <!---------------------------------
    -        CONTACT Container       -
    ----------------------------------->
    <section class="contact__container">
        <header>
            <h2>CONTACTEZ-NOUS</h2>
        </header>
        <div class="contact">
            <div class="contact__item format-text">
                <h3>
                    Christian Bettendorff
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-7721
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu" class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__item format-text">
                <h3>
                    Andrea Wirtz
                </h3>

                <a href="tel:+3522753-7721" class="light">
                    {{ svg("phone", "ui", "null", "white", "20px") }}
                    +352 2753-2430
                </a>
                <hr>
                <a href="mailto:claire@villeesch.lu"  class="light">
                    {{ svg("mail", "ui", "null", "white", "20px") }}
                    claire@villeesch.lu
                </a>
            </div>
            <div class="contact__button__container">
                <a href="#" class="button button__normal secondary">
                    Envoyez un message
                </a>
            </div>
        </div>
    </section>


    <!---------------------------------
    -           MAP Container         -
    ----------------------------------->
    <section class="map">
        <img src="media/images/map.png" alt="Map"/>
    </section>

    <!---------------------------------
    -           FOOTER Container         -
    ----------------------------------->
    <footer class="page__footer format-text">
        <div class="footer__item">
            <p class="light">
                &copy; <strong>2020</strong>
                - réalisé par idp.lu et <a class="light" href="https://lightbulb.lu">lightbulb.lu</a>
            </p>
        </div>
        <div class="footer__item">
            <p class="light">
                <strong>
                    121, rue de l'Alzette,<br />
                    L-4011 Esch-sur-Alzette
                </strong>
            </p>
        </div>
        <div class="footer__item list_with_svg">
            <ul class="list__inline light">
                <li><a>Conditions générales d'utilisation</a></li>
                <li><a>Politique de protection des données</a></li>
                <li><a>Politique de cookies</a></li>
            </ul>
            <div class="footer__icon">
                {{ svg("maer-sinn-dynamesch", "ui", "null", "black", "180px") }}
            </div>
        </div>
    </footer>

    <a href="#main" class="js-scroll">
        <div class="to-top">
            {{ svg("moving_up", "ui", "null", "white", "42px") }}
        </div>
    </a>
</main>
</body>
