a, a:hover {

    &.button__link {
        text-decoration: none !important;
    }
}

.button {
    @include newbery;

    &:hover {
        cursor: pointer;
        text-decoration: none!important;
    }

    &.marginTop {
        margin-top: 1rem;
    }

    $height: 90px;

    &.button__normal {
        padding: 1rem 2rem;
        text-transform: uppercase;
        border: 0;
        border-radius: $border-radius-default;
        color: $text-light;
        font-weight: bold;
        background: $secondary;
        transition: $transition-default;

        &:hover {
            background: $secondary-light;
        }

        &.primary {
            background: $primary;
            &:hover { background: $primary-dark; }
        }
        &.secondary {
            background: $secondary;
            &:hover { background: $secondary-dark; }
        }
        &.darkblue {
            background: $darkblue;
            &:hover { background: $blue; }
        }
        &.pink {
            background: $pink;
            &:hover { background: $lightpink; }
        }
        &.yellow {
            background: $yellow;
            &:hover { background: $secondary-light; }
        }
    }

    &.button__round {
        @include newbery;
        height: calc(#{$height} + 10px);
        width: auto; //210px;
        min-width: 350px;
        background: transparent;
        color: white;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        //outline: 5px solid transparent;
        display: flex;
        text-align: center;
        justify-content: space-between;
        transition: $transition-default;
        font-family: sans-serif;
        position: relative;
        z-index: 20;

        @include breakpoint(small down) {
            min-width: auto;
            font-size: 1rem;
        }



        &:before {
            content: ' ';
            height: $height;
            min-width: 340px;
            width: calc(100% - 10px); //200px;
            position: absolute;
            z-index: -1;
            background: $secondary;
            border-radius: 50px;
            margin-top: 5px;
            margin-left: 5px;
            -webkit-box-shadow: 16px 57px 36px -40px rgba(0,0,0,0.75);
            -moz-box-shadow: 16px 57px 36px -40px rgba(0,0,0,0.75);
            box-shadow: 16px 57px 36px -50px rgba(0,0,0,0.75);

            @include breakpoint(small down) {
                min-width: auto;
            }
        }

        span:first-child {
            @include newbery;
            text-align: center;
            justify-self: center;
            align-self: center;
            font-size: 1.3rem;
            padding: 0 1.5rem 0 2.8rem;
            //margin: 0 auto;
            width: calc(100% - #{$height});

            @include breakpoint(small down) {
                font-size: 1rem;
            }
        }

        .after__icon {
            //content: attr(data-after);
            background: $secondary-dark;
            height: $height;
            width: $height;
            border-radius: 60px;
            position: relative;
            float: right;
            text-align: center;
            transition: $transition-default;
            margin-top: 5px; //5px;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 0;
        }

        &:hover, &:focus {
            //box-shadow: 0px 0px 9px red
            cursor: pointer;
            background: rgba($lightpink, 0.9);

            .after__icon {
                height: calc(#{$height} + 5px);
                width: calc(#{$height} + 5px);
                font-size: 2rem;
                margin-top: 5px;
                margin-left: -5px;
                transform: translate(2px, -2px);

                &.after__icon__rotate {
                    transform: rotate(-20deg) translate(2px, -2px);
                }

                &.after__icon__resize {
                    i {
                        width: 60px;
                        font-size: 60px;
                    }
                }

            }
        }



        &.background__darkblue {
            &:hover {
                background: $primary-light;
            }

            &:before {
                background: $darkblue;
            }

            .after__icon {
                background: $blue;
            }
        }
    }
}
