.format-text {
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;

    }

    h1, h2, h3 {
        padding: 0 0 1rem;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    p {
        color: $text-dark;
        word-break: break-word;

        &.light {
            color: $text-light;
        }

        &.dark {
            color: $text-dark;
        }
    }

    strong {

    }

    ul {
        list-style: disc;
        padding: 1rem 1rem 1rem 1.5rem;

        &.light {
            color: $text-light;
        }

        &.dark {
            color: $text-dark;
        }



        li {
            line-height: 1.5rem;
            padding-bottom: .8em;


            strong {
                font-size: 1.5rem;
            }

        }

        &.list__inline {
            padding: 1rem 0;

            li {
                list-style: none;
                display: inline-block;

                @include breakpoint(xmedium down) {
                    display: block;

                }
            }
        }


    }

    &.list__items_bold {
        ul {
            padding-top: 2rem;

            li {
                font-weight: bold;
                font-size: 1.5rem;

                &::marker {
                    font-size: 1.5rem;
                }
            }

            & + p {
                padding-top: 0;
            }
        }
    }


    a {
        text-decoration: none;
        word-break: break-word;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &.light {
            color: $text-light;
        }

        &.dark {
            color: $text-dark;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background: $text-light;
        width: 100%;
    }
}
