@mixin a11y {
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.a11y__vo-only {
    @include a11y;
}

.a11y__skip-content {
    background-color: white;
    color: $black;
    padding: $medium $xmedium;
    position: absolute;
    z-index: 999;

    &:not(:focus):not(:active) {
        @include a11y;
    }
}