.agenda {
    background: $primary-light;
    width: calc(100% - 4rem);
    border-radius: 0 $border-radius-default $border-radius-default 0;
    padding: 3rem;

    display: grid;
    grid-template-columns: calc(450px + 4rem) 1fr;

    @include breakpoint(large down) {
        grid-template-columns: 1fr;
    }

    @include breakpoint(xmedium down) {
        width: calc(100% - 1rem);
        padding: 2rem 1rem 2rem 2rem;
    }

    @include breakpoint(small down) {
        width: calc(100% - 1rem);
        padding: 2rem 0 2rem 1rem;
    }

    .agenda__calendar__container {
        padding: 0 2rem 2rem 2rem;

        @include breakpoint(large down) {
            padding: 2rem 2rem 2rem 0;
        }

        @include breakpoint(small down) {
            padding: 2rem 0;
        }

        .agenda__calendar__picker {
            background: $primary;
            min-height: 200px;
            width: 100%;
            border-radius: $border-radius-default;
            padding: 2rem;


            h1, h2, h3, h4 {
                padding-bottom: 1rem;
                text-align: center;
            }
        }

        .agenda__results {
            text-transform: uppercase;
            font-weight: bold;
            color: $primary-dark;
            float: right;

            .agenda__results__number {
                color: $secondary;
                text-transform: lowercase;
            }
        }

        .agenda__calendar__categories {
            padding: 2rem;
            display: flex;
            flex-wrap: wrap;

            @include breakpoint(xmedium down) {
                padding: 2rem 0;
            }

            .category-toggle {
                &__all, &__shop, &__food, &__services, &__event {
                    border-radius: $border-radius-default;
                    padding: 1rem;
                    margin: .5rem;
                    border: 3px solid white;
                    width: calc(50% - 1rem);

                    &:hover, &:focus {
                        cursor: pointer;
                        outline: none;
                    }

                    &:after {
                        content: '';
                        height: 32px;
                        width: 32px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        color: white;
                        margin-top: -0.5rem;
                        margin-left: 1rem;
                    }
                }

                &__all {
                    width: 100%;
                    background: white;

                    &:hover, &:focus {
                        background: $lightgrey;
                        border-color: $lightgrey;
                    }

                }

                &__shop {
                    border-color: $primary;

                    &:hover, &:focus {
                        background: $primary;
                    }

                    &:after {
                        background-image: url(map-get($sprites, 'shop'));
                    }
                }

                &__food {
                    border-color: $yellow;

                    &:hover, &:focus {
                        background: $yellow;
                    }
                    &:after {
                        background-image: url(map-get($sprites, 'food'));
                    }
                }

                &__services {
                    border-color: $pink;

                    &:hover, &:focus {
                        background: $pink;
                    }
                    &:after {
                        background-image: url(map-get($sprites, 'services'));
                        margin-top: -0.3rem;
                        margin-left: 0.5rem;
                        height: 35px;
                        width: 35px;
                    }
                }

                &__event {
                    border-color: $secondary;

                    &:hover, &:focus {
                        background: $secondary;
                    }
                    &:after {
                        background-image: url(map-get($sprites, 'expo'));
                        margin-top: -0.9rem;
                        margin-left: 0.5rem;
                        height: 42px;
                        width: 42px;
                    }
                }
            }

        }

    }

    .agenda__container--right {
        .agenda__events__container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2rem;

            @include breakpoint(xlargemore down) {
                grid-template-columns: 1fr 1fr;
            }

            @include breakpoint(mdmedium down) {
                grid-template-columns: 1fr;
            }

        }

        .agenda__see-more {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4rem 0 2rem 0;

            .agenda__see-more__button {
                height: 90px;
                width: 290px;
                background: transparent;
                color: $darkgreen;

                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.5rem;

                border-radius: 45px;
                border: 5px solid $darkgreen;
                transition: $transition-default;

                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .icon {
                    color: $darkgreen;
                }

                &:hover {
                    background: $darkgreen;
                    color: $white;

                    .icon {
                        color: white !important;
                    }
                }

                &:focus:not(:focus-visible) {
                    outline: none;
                }

                &.see-more--hidden {
                    display: none;
                }
            }
        }
    }


}


.event__item {
    background: $primary-dark;
    border-radius: $border-radius-default;
    width: calc(100% - 2rem);
    position: relative;
    height: fit-content;

    &.event__item--hidden {
        display: none;
    }

    .event__item__header {
        overflow: hidden;
        //height: 240px;
        border-radius: $border-radius-default $border-radius-default 0 0 ;
        height: 240px;

        img {
            width: 100%;
        }
    }

    .event__item__content {
        padding: 1rem 2.8rem 1.5rem 2.8rem;
        color: white;
    }

    .event__item__title {
        padding-bottom: 1rem;
        color: white;
    }

    .event__item__date {
        font-weight: 400;

        &:before {
            content: '';
            background-image: url(map-get($sprites, 'np_clock_white'));
            height: 25px;
            width: 25px;
            background-size: contain;
            position: absolute;
            color: white;
            transform: translate(-135%, -5px);
        }
    }

    .event__item__desc {
        padding-top: 1rem;
    }

    /***** EVENT TOP CIRCLES FOR CATEGORY *****/
    &.event-category {
        &__shop, &__food, &__services, &__event {
            .event__item__category_button {
                height: 60px;
                width: 60px;
                border-radius: 30px;
                position: absolute;
                top: 1.5rem;
                right: -30px;
                color: $text-dark;

                background-image: url(map-get($sprites, 'np_contact'));
                background-size: 30px;
                background-repeat: no-repeat;
                background-position: calc(100% - 15px) center;

                display: flex;
                justify-content: left;
                align-items: center;

                transition: $transition-default;

                &:before {
                    content: "Shop";
                    padding-left: 1rem;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    display: block;
                    transition: 0.1s ease;
                }

                &:hover {
                    width: 140px;

                    &:before {
                        opacity: 1;
                        visibility: visible;
                        transition: 0.6s ease;
                    }
                }
            }
        }

        &__shop .event__item__category_button {
            background-color: $primary;
            background-image: url(map-get($sprites, 'shop'));
            background-size: 26px;
            background-position: calc(100% - 16px) center;
            &:before { content: "Shop"; }
        }

        &__food .event__item__category_button {
            background-color: $yellow;
            background-image: url(map-get($sprites, 'food'));
            &:before { content: "Food"; }
        }

        &__services .event__item__category_button {
            background-color: $pink;
            color: $text-light;
            background-image: url(map-get($sprites, 'services'));
            background-size: 38px;
            background-position: calc(100% - 10px) 55%;
            &:before { content: "Service"; }
        }

        &__event .event__item__category_button {
            background-color: $secondary;
            background-image: url(map-get($sprites, 'expo'));
            background-size: 42px;
            background-position: calc(100% - 9px) center;
            &:before { content: "Event"; }
        }
    }

    /***** EVENT BOTTOM BUTTONS FOR Action *****/
    &.event-action {
        $size: 90px;
        &__website, &__social, &__mail {
            .event__item__action-button {
                position: absolute;
                bottom: 1.5rem;
                right: -45px;
                color: white;

                height: calc(#{$size} + 8px); //+ 16px);
                width: calc(#{$size} + 8px); //+ 16px);
                border-radius: 50px;
                transition: $transition-default;

                justify-content: center;
                align-items: center;
                display: flex;

                &:before {
                    content: ' ';
                    height: calc(#{$size} - 8px);
                    width: calc(#{$size} - 8px);

                    position: absolute;
                    z-index: 1;
                    background-color: $secondary;
                    border-radius: 50px;
                    padding: 1rem;

                    background-image: url(map-get($sprites, 'np_contact'));
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: $transition-default;
                }

                &:hover {
                    background-color: $secondary-light;

                    &:before {
                        height: $size;
                        width: $size;
                    }
                }
            }

        }

        &__website .event__item__action-button:before {
            background-image: url(map-get($sprites, 'np_eye'));
        }

        &__social .event__item__action-button:before {
            background-image: url(map-get($sprites, 'add_user'));
        }

        &__mail .event__item__action-button:before {
            background-image: url(map-get($sprites, 'np_contact'));
        }
    }

}
