$brand-color: green;
$brand-text-color: white;

$compliment-color: #F1F1F1;

$icon-size: 16px;
$font-size: 13px;

$step-xs: 2px;
$step-sm: 4px;
$step-md: 8px;

.custom-calendar {
    text-align: center;
    font-size: $font-size;
}

.custom-calendar__info {
    display: none;
    text-align: left;
    margin-bottom: 8px;
    font-size: 12px;

    span {
        font-weight: bold;
        background-color:#f1f1f1;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.custom-calendar__header{
    display: flex;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $text-light;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: $border-radius-default;
    font-size: 1.5rem;

    .custom-calendar__month-label {
        text-transform: uppercase;
    }
}

.custom-calendar__nav {
    float:left;
    font-size:1.125em;
    font-weight:bold;
    position:relative;
    padding:0;
    cursor:pointer;
    fill: $brand-text-color;

    &_prev,
    &_next {
        text-align:left;

        svg {
            width: $icon-size;
            height: $icon-size;
        }
    }
}

.custom-calendar__code {
    &_lock {
        opacity: 0.7;
    }

    &_lock:hover {
        opacity: 1;
    }

    &_lock .custom-calendar__days {
        pointer-events: none;
    }
}

.custom-calendar__week-names {
    display: flex;
    background-color: $compliment-color;
    font-size: 12px;
    padding: 4px;
    display: none;
}

.custom-calendar__days {
    display: flex;
    flex-wrap: wrap;

    margin-top: 5px;
}

.custom-calendar__reset {
    float: right;

    svg {
        height: $icon-size;
        width: $icon-size;
    }
}

.custom-calendar__weekday {
    flex: 1;
    text-align: center;
}

.custom-calendar__day {
    flex: 1;

    min-width: 14%;
    max-width: 15%;

    text-align: center;

    cursor: pointer;
    margin: .15rem 0;

    span {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        line-height: 26px;
        font-size: 1.5rem;
        color: $primary-dark;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_highlight, &_abs-today, &_abs-future {
        span {
            &:hover {
                background-color: $secondary-light;
                border-radius: 50%;
            }
        }
    }

    &_abs-past {
        span:hover {
            background-color: transparent;
        }
    }

    &_highlight, &_abs-today {

        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;

        span {
            background: $secondary;
            color: $text-light;
        }

        &.custom-calendar__day_abs-past {
            span {
                background: none;
            }
        }

    }



    &_today:hover span {
        border-radius: 50%;
    }

    &_off,
    &_exp,
    &_different-month,
    &_lock {
        cursor: default;
        color: grey;
        background-color: unset;

        day, day:hover {
            background: unset;
        }
    }

    &_off span {
        text-decoration: line-through;
    }

    &_select span {
        background-color: unset;
    }

    &_select {

        span {
            background-color: $secondary-dark;
            //border-radius: unset;
            color: $text-light;
        }

        day:hover {
            //background-color: lightblue;
        }
    }

    &_range-select {
        background-color: lightblue;
    }

    &_select-lock {
        pointer-events: none;
        color: grey;
    }
}