.candidate {
    $height: 483px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 77%;
    min-height: $height;
    margin: 5rem auto;
    position: relative;

    @include breakpoint(xmedium down) {
        flex-wrap: wrap;
        max-width: calc(100% - 4rem);
        margin: 3rem auto;
    }

    @include breakpoint(medium down) {
        flex-direction: column-reverse;
    }

    .candidate__picture_container {
        flex: 0.6;
        //height: 100%;
        display: flex;
        justify-content: flex-end;
        padding-left: 2rem;
        height: $height;
        position: relative;

        @include breakpoint(xmedium down) {
            flex-wrap: wrap;
            flex: 1;
            width: 100%;
        }

        @include breakpoint(medium down) {
            padding-left: 0;
            margin-bottom: 1rem;
            justify-content: center;
        }

        &:before {
            content: attr(data-before);
            color: white;
            background: $blue;
            border-radius: 100px 0 0 100px;

            min-height: 90px;
            max-height: 120px;
            line-height: 1.7rem;
            width: 75%;

            @extend h2;
            //font-size: 1.5rem;
            padding: 1rem 2rem;
            text-align: right;
            font-weight: bold;

            position: absolute;
            left:0;
            top: 2rem;

            transform: translateX(calc(-100% + 2rem));

            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;


            /*@include breakpoint(xlargemore down) {

            }*/

            @include breakpoint(xlargemore down) {
                top: -1rem;
                width: calc(100% - 2rem);
                flex: 1;
                margin-left: 2rem;
                transform: none;
                position: absolute;
                border-radius: 100px;
                padding: 1rem 1rem;
                line-height: 2rem;
                text-align: center;
            }

            @include breakpoint(xmedium down) {
                top: -1rem;
                width: 100%;
                flex: 1;
                margin-left: 0;
                transform: none;
                position: relative;
                border-radius: 100px;
                padding: 0.5rem 1.5rem ;
                line-height: 1.8rem;
            }

            @include breakpoint(small down) {
                text-align: center;
                font-size: 1rem;

            }
        }

        img {
            border-radius: $border-radius-default;
            max-height: 100%;
            width: 100%;
            @include breakpoint(medium down) {
                max-height: 180px;
            }
        }

        .candidate__button__container {
            position: absolute;
            //margin-top: 2rem;
            transform: translateX(4rem);
            max-width: 100%;

            bottom: 0;
            margin-bottom: 5rem;

            @include breakpoint(xlargemore down) {
                //margin-top: 5rem;
            }

            @include breakpoint(xmedium down) {
                //margin-top: 8rem;
                transform: translateX(0);

                .button__round {
                    max-width: calc(100% - 1rem);
                }
            }

            @include breakpoint(medium down) {
                position: relative;
                width: 100%;
                margin: 0 0 1rem 0;

                .button__round {
                    max-width: 100%;
                }
            }
        }
    }

    .candidate__download_container {
        flex: 0.4;
        background: $darkblue;
        border-radius: $border-radius-default;
        color: white;

        @include breakpoint(xmedium down) {
            flex: 1;
            width: 100%;
        }

        @include breakpoint(medium down) {
            margin-top: 4rem;
        }

        @include breakpoint(small down) {
            margin-top: 1rem;
        }

        $size: calc(42px + 2rem);
        $sizeHover: calc(42px + 2.5rem);
        .download__icon {
            height: calc(#{$size} + 8px); //+ 16px);
            width: calc(#{$size} + 8px); //+ 16px);
            border-radius: 50px;
            position: absolute;
            margin-left: -3rem;
            transition: $transition-default;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            display: flex;

            &:before {
                content: ' ';
                height: $size;
                width: $size;
                position: absolute;
                z-index: 1;
                background: $blue;
                border-radius: 50px;
                padding: 1rem;
                //margin-top: -12px;
                //margin-left: -11px;
            }

            @include breakpoint(xmedium down) {
                margin-left: -2rem;
            }

            i {
                z-index: 5;
                margin: 5px;
            }

            &:hover, &:focus {
                background: rgba($primary-light, 0.9);
                outline: none;
                /*&:before {
                    height: $sizeHover;
                    width: $sizeHover;
                }*/
            }
        }

        h1, h2, h3, h4 { padding: 0.5rem 0 1rem; }
        p {
            color: rgba(255,255,255,0.7);
        }
    }
}