.carousel {

    .frame__content {
        padding: 0;
    }


    &.header__carousel__container {
        padding-bottom: 100px;
        z-index: 0;
        width: 100%;

        @include breakpoint(xmedium down) {
            width: calc(100% - 1rem);
            justify-self: flex-end;
        }

        .main-carousel {
            overflow: hidden;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;

            .carousel-cell {
                width: 100%;
                min-height: 400px;
                height: 80vh;
                max-height: 900px;
                margin-right: 10px;
                background: $primary;
                border-radius: 5px;
                counter-increment: gallery-cell;
                object-fit: contain;


                img {
                    object-fit: cover;
                    width: auto;
                    min-width: 100%;
                    height: 100%;
                    border-radius: $border-radius-default;
                }

                &.is-selected {
                    img {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }

        /* position dots up a bit */
        .flickity-page-dots {
            bottom: 0.8em;
            margin: 0;
            width: 100%;
            display: flex;
            padding-left: 20px;
            //margin: 1rem 1rem 1rem 1rem;

            /* dots are lines */
            .dot {
                height: 15px;
                width: 44px;
                margin: 0.8rem 0.5rem;
                border-radius: 15px;
                background: white;
                opacity: 1;

                &.is-selected {
                    width: 74px;
                    background: $secondary;
                }
            }
        }
    }

    &.carousel__frame__right, &.carousel__frame__left {
        //padding-bottom: 100px;
        z-index: 0;
        width: 100%;
        position: relative;
        height: 100%;

        @include breakpoint(xmedium down) {
            //width: calc(100% - 1rem);
            justify-self: flex-start;
        }

        .main-carousel {
            overflow: hidden;
            border-top-left-radius: $border-radius-default;
            border-bottom-left-radius: $border-radius-default;
            height: 100%;

            @include breakpoint(xmedium down) {
                //width: calc(100% - 1rem);
                justify-self: flex-start;
                border-radius: $border-radius-default;
            }



            .carousel-cell {
                //width: 100%;
                min-height: 300px;
                height: 100%;
                margin-right: 10px;
                background: transparent;
                border-radius: 5px;
                counter-increment: gallery-cell;
                object-fit: contain;
                width: auto;
                min-width: 70%;

                img {
                    object-fit: cover;
                    width: auto;
                    min-width: 100%;
                    height: 100%;
                    border-radius: $border-radius-default;
                }
            }

            .flickity-prev-next-button {
                color: white;
                background: rgba(#CECECE, 0.9);

                svg {
                    display: none;
                }

                &.previous {
                    border-radius: 50% 0 0 50%;
                    left: 0;
                    color: white;
                    background-image: url(map-get($sprites, 'arrow_flickity'));
                    transform: rotate(180deg) translateY(22px);
                    background-repeat: no-repeat;
                    background-size: 80%;
                    background-position: center;
                }

                &.next {
                    border-radius: 50% 0 0 50%;
                    right: 0;
                    background-image: url(map-get($sprites, 'arrow_flickity'));
                    background-repeat: no-repeat;
                    background-size: 80%;
                    background-position: center;
                }
            }

            &.only-one-image {
                img {
                    width: 100%;
                }
                .flickity-prev-next-button {
                    display: none;
                }
            }

        }

    }

    &.carousel__frame__left {

        @include breakpoint(xmedium down) {
            width: calc(100% - 1rem);
            justify-self: flex-end;
        }

        .main-carousel {
            border-radius: 0 40px 40px 0;
        }

    }
}