.contact__container {
    width: 85%;
    height: auto;
    min-height: $section-height-default;
    right: 0;
    position: relative;
    color: white;
    float: right;
    padding: 2rem 0;

    @include breakpoint(large down) {
        width: calc(100% - 2rem);
    }

    @include breakpoint(medium down) {
        padding: 0 0 2rem 0;
    }

    header {
        background: $primary;
        border-radius: $border-radius-default 0 0 $border-radius-default;
        padding: 2rem;
        color: white;
        width: 100%;
        height: auto;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr 2.5fr;
        gap: 2rem;
        width: 100%;
        margin-top: 2rem;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
        }

        .contact__item {
            background: $primary-dark;
            border-radius: $border-radius-default;
            padding: 3rem 2rem;
            display: flex;
            flex-wrap: wrap;
            text-align: center;

            @include breakpoint(xmedium up) {
                min-width: 300px;
            }

            @include breakpoint(large down) {
                padding: 3rem 1rem;
            }

            h2, h3, a {
                padding: 1rem 0;
                text-align: center;
                width: 100%;
                text-transform: initial;
            }

            h2, h3 {
                @include breakpoint(xlarge down) {
                    font-size: 1.5rem;
                }
            }

            a {
                i {
                    margin-right: 1rem;
                    margin-bottom: -2px;
                }
            }

            @include breakpoint(xmedium down) {
                width: calc(100% - 2rem);
            }
        }

        .contact__button__container {
            background: $primary;
            border-radius: $border-radius-default 0 0 $border-radius-default;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .button {
                margin-left: -2rem;
            }
        }

    }

}
