#cookie-notice {
    background: rgba(14, 50, 75, 0.9);
    color: white;


    /*
        background: rgba(14,50,75, 1);
        color: white;
        min-width: 90%;
        padding: 1rem;
        box-sizing: border-box;
        margin: 0 auto;
        transform: translate(5%, -1rem);
        border-radius: 3rem;
    */


    #cookie-notice-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        //gap: 2rem;
    }

    #cookie-notice-accept, #cookie-notice-choose, #cookie-notice-accept-selection {
        background: white;
        padding: 1rem;
        border-radius: 16px;
        transition: all 0.3s ease;

        &:hover {
            background: #EE7151;
            color: white !important;
        }
    }

    #cookie-notice-accept {
        margin-right: 1rem;
    }

    #cookie-notice-choose {
        margin-left: 1rem;
    }

    @include breakpoint(small down) {
        #cookie-notice-accept #cookie-notice-choose {
            margin: .5rem;
        }

        #cookie-notice-accept {
            margin-top: 1rem;
        }
    }

    #cookie-notice-choose, #cookie-notice-accept-selection {
        color: grey;

        &:hover {
            background: #609B9F !important;
            color: white;
        }
    }


    input + span {
        border: 1px solid #fff;

        &:before {
            color: #333;
            background: #fff;
            opacity: 0;
        }
    }
}