.faq__container {
    height: auto !important;
    width: 100%;
    padding-top: 1rem;

    .before__image__container {
        width: 200% !important;

        @include breakpoint(xmedium down) {
            height: 200px;
            img {
                height: 200px;
            }
        }

        @include breakpoint(medium down) {
            position: relative !important;
        }
    }

    .faq__header {
        @include breakpoint(xmedium down) {
            width: calc(100% - 4rem);
            margin: 0 auto;
        }
    }

    .faq__content {
        justify-content: flex-start;

        details {
            summary {
                background-image: url(map-get($sprites, 'dropdown'));
                background-size: 2rem;
                background-position: 47px center;
                background-repeat: no-repeat;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: bold;
                position: relative;
                list-style: none;
                margin-top: 1.3rem;
                text-transform: uppercase;
                padding: 1.3rem 1.3rem 1.3rem 6rem;
                border-radius: $border-radius-default 0 0 $border-radius-default;
                color: $darkgreen;
                outline: none;
                transition: color 0.4s ease;

                &::-webkit-details-marker {
                    display: none;
                }

                @include breakpoint(xmedium down) {
                    width: calc(100% - 2rem);
                    float: right;
                }

                @include breakpoint(medium down) {
                    font-size: 1.2rem;
                }

                &:before {
                    content: '';
                    background-color: $lightgrey;
                    font-size: 1.5rem;
                    font-weight: 100;
                    position: absolute;
                    line-height: 4.5rem;
                    top: 0;
                    bottom: 0;
                    left: 1.5rem;
                    text-align: right;
                    border-radius: $border-radius-default 0 0 $border-radius-default;
                    transition: $transition-default;
                    z-index: -1;
                    width: 100%;
                }

                &:after {
                    display: none;
                }

                &:hover, &:focus {
                    &:before {
                        transform: translateX(-20px);
                    }
                }

                &:focus {
                    color: $primary-dark;
                }


            }

            &.color {
                &__green, &__darkgreen {
                    summary {
                        background: $darkgreen;
                        color: white;

                        &:before {
                            background-color: $darkgreen;
                            background-image: url(map-get($sprites, 'dropdown-white'));
                            color: white;
                        }
                    }
                }

                &__secondary {
                    summary {
                        background: $secondary;
                        color: white;

                        &:before {
                            background-color: $secondary;
                            background-image: url(map-get($sprites, 'dropdown-white'));
                            color: white;
                        }
                    }
                }

                &__darkblue {
                    summary {
                        background: $darkblue;
                        color: white;

                        &:before {
                            background-color: $darkblue;
                            background-image: url(map-get($sprites, 'dropdown-white'));
                            color: white;
                        }
                    }
                }
            }

            .details__content {
                padding: .5rem 2rem 0 4rem;
                overflow: hidden;
                width: 80%;

                .content {
                    padding: 1rem;
                }

                @include breakpoint(medium down) {
                    padding: .5rem 2rem 0 3rem;
                    width: 100%;
                }

                @include breakpoint(small down) {
                    padding: .5rem 1rem 0 2rem;
                }

                h4, p {

                }

                p {
                    padding-top: 1rem;
                    &:first-of-type {
                        padding-top: 0;
                    }
                }


            }

            &[open] {
                summary {
                    color: white;
                    background-image: url(map-get($sprites, 'dropdown-white_rotate'));

                    &:before {
                        background-color: $darkgreen;
                    }
                }

                .details-content {
                    height: auto;
                }
            }

        }
    }

}

.faq__content__title {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 15px;

    &.color__darkblue {
        color: $darkblue;
    }

    &.color__secondary {
        color:  $secondary;
    }
}