footer {

    &.page__footer {
        background: $darkblue;
        color: white;
        min-height: 149px;

        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        gap: 1rem;

        justify-content: center;
        align-items: center;
        padding: 1rem 5% 1rem 10%;
        line-height: 1.5rem;

        @include breakpoint(xmedium down) {
            grid-template-columns: 1fr;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 2.5rem;
        }


        .footer__item {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @include breakpoint(xmedium down) {
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
            }

            &:first-child, &:nth-child(2) {
                &:after {
                    content: '';
                    height: 50px;
                    width: 7px;
                    border-radius: 4px;
                    background: white;
                    margin-left: 2rem;

                    @include breakpoint(xmedium down) {
                        //content: none;
                        width: 100%;
                        height: 5px;
                        margin-left: -1rem;
                    }
                }
            }

            ul li {
                padding-right: 1.5rem;

                a {
                    color: $text-light;
                }
            }

            /*&:nth-child(2) {
                justify-self: flex-start;
            }*/

            &.list_with_svg {
                @include breakpoint(xmedium down) {
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                }

                .footer__icon {
                    margin-top: -100px;
                    //margin-left: 3rem;
                    @include breakpoint(xmedium down) {
                        margin-top: 0;
                    }
                }

            }


        }
    }

}