.header__inner {
    display: flex;
    min-height: $nav-height;
    width: 90%;
    //min-width: 90vw;
    max-width: 1440px;
    border-radius: 0 0 50px 50px;
    //right: 0;
    position: fixed; //sticky;
    top: 0;
    background: white;
    @include z-index(header);
    padding: 0 2rem;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(xmedium down) {
        position: absolute;
        width: 100vw;
        left: 0;
        transform: none;
        menu {
            height: 100vh;
        }
    }
}

.header__nav {
    flex: 1;
}

.header__menu-toggle__container {
    position: fixed;
    background: $primary;
    padding: 1rem;
    height: 57px; //auto;
    width: 57px; //auto;
    right: 1.5rem;
    top: 1.5rem;
    border-radius: 100%; //$border-radius-default;
    cursor: pointer;

    display: none;

    @include breakpoint(xmedium down) {
        display: block;
    }

    &:hover, &:focus {
        cursor: pointer;
        background: $primary-dark;
        outline: none;
    }

    .header__menu-toggle {
        display: flex;
        align-items: center;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        height: 20px;
        margin: 0;
        padding: 0;
        width: 25px;
        pointer-events: none;




        &::after {
            content: "";
            background-color: black;
            height: 2px;
            width: 25px;
        }


    }
}