// colors
$top-link-color: black;
$top-link-color-hover: blue;
$top-link-background: grey;
$top-link-background-hover: white;

$background: transparent;
$background-hover: green;
$link-color: black;
$link-color-hover: blue;

// spacing
$arrow-amount-from-left: 40px;
$padding-dropdown: 5px 30px 5px 10px;
$padding: 5px 10px;
$margin: 2px;

// icon
$icon: false;
$icon-symbol: '>';

$dropdown-start: "1000px";

// buttons
$button-width: 50px;
$button-radius: 15px;

.language-switcher {
    align-self: center;
    position: relative;

    @media print, screen and (min-width: $dropdown-start) {
        background-color: $background;
    }
}

.language-switcher__list {
    display: inline-block;
    list-style: none;
    margin: 0;
    z-index: 1;

    @media print, screen and (min-width: $dropdown-start) {
        background-color: $background;
        height: 1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: left;
        transform: translateY(-20px);
        transition: transform .2s ease-in-out,
        opacity .1s ease-out;
    }
}

.language-switcher__top-link {
    background-color: $top-link-background;
    border-radius: $button-radius;
    color: $top-link-color;
    display: inline-block;
    margin: $margin;
    padding: $padding;
    position: relative;
    transition: color 0.2s ease, background-color 0.2s ease;
    text-align: center;
    width: $button-width;

    @media print, screen and (min-width: $dropdown-start) {
        background-color: transparent;
        border-radius: 0;
        margin: 0;
        padding: $padding-dropdown;
        text-align: left;
        width: auto;

        &::before {
            @if $icon == true {
                @include icon;
            }
            content: $icon-symbol;
            position: absolute;
            left: $arrow-amount-from-left;
            transform: rotate(0) translateY(-1px);
            transition: transform 0.1s ease;
        }

        &:hover,
        &:focus {
            color: $top-link-color-hover;
            outline: none;
        }
    }

    .language-switcher:hover &::before,
    .language-switcher:focus-within &::before,
    &:focus::before {
        transform: rotate(90deg) translateY(-1px);
    }
}

.language-switcher__item {
    display: inline-block;
    margin: 0 -8px;

    @media print, screen and (min-width: $dropdown-start) {
        display: block;
        margin: 0;
    }
}

.language-switcher__link {
    color: $link-color;
    border-radius: $button-radius;
    display: inline-block;
    text-align: center;
    padding: $padding;
    transition: color 0.2s ease;
    width: $button-width;

    &:focus,
    &:hover {
        color: $link-color-hover;
        outline: none;
    }

    @media print, screen and (min-width: $dropdown-start) {
        border-radius: 0;
        display: block;
        text-align: left;
        padding: $padding-dropdown;
        width: auto;
    }
}

.language-switcher:hover .language-switcher__list,
.language-switcher .language-switcher__top-link:focus + .language-switcher__list,
.language-switcher__list:focus-within {
    height: auto;
    transform: translate(0);
    opacity: 1;
    z-index: 1;
}
