.logo-container {
    @include z-index(header);
    .logo__popup {
        transition: $transition-default;
    }

    &:hover {
        .logo__popup {
            transform: rotate(-30deg) translate(0px, 45px);
        }
    }

    .logo__esch {
        position: absolute;
        left: 220px;
        top: 18px;
    }

    @include breakpoint(small down) {
        .logo__popup {
            img {
                width: 180px;
            }
        }

        .logo__esch {
            position: absolute;
            left: 169px;
            top: 10px;
            width: 40px;
        }
    }
}