$responsive-background: white;
$menu-link-color: black;
$menu-link-color-hover: grey;

.menu-container {
    height: calc(100px - 1rem);

    .menu {
        height: 100%;
        display: flex;
        align-self: center;
        justify-content: space-around;
        align-items: flex-end;
        margin-bottom: 0;
        width: 100%;
        margin-top: 10px;
        //font-weight: normal;

        @include breakpoint(xmedium down) {
            @include z-index(menu);
            background-color: $responsive-background;
            flex-direction: column;
            align-items: initial;
            justify-content: center;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateY(-100px);
            transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s ease;
            opacity: 0;
            visibility: hidden;
            font-size: 2rem;

            &:before {
                content: '';
                width: 80px;
                border-radius: 0 $border-radius-default $border-radius-default 0;
                background: $secondary;
                height: 50%;
                position: absolute;
                left:0;
            }

            &:after {
                content: '';
                width: 80px;
                border-radius: $border-radius-default 0 0 $border-radius-default;
                background: $yellow;
                height: 50%;
                position: absolute;
                right:0;
            }
        }

        @include breakpoint(small down) {
            font-size: 1.6rem;
            &:before, &:after {
                width: 50px;
            }
        }

        &.is-active {
            @include breakpoint(xmedium down) {
                visibility: visible;
                margin-top: 0;
                opacity: 1;
                transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s ease;
                transform: translateY(0);
            }
        }
    }

    .menu__item {
        position: relative;
    }

    .menu__link {
        color: $menu-link-color;
        display: block;
        padding: $medium 0;
        text-align: center;
        //text-transform: uppercase;
        user-select: none;


        &:hover,
        &:focus {
            color: $menu-link-color-hover;
            outline: none;
            cursor: pointer;
            //font-weight: bold;

            &:before {
                top: -150%;
            }
        }

        @include breakpoint(large up) {
            &:before {
                content: '';
                background: $darkblue;
                height: 100%;
                width: 150%;
                //margin-top: -4rem;
                top: -200%;
                margin-left: -20%;
                position: absolute;
                transition: $transition-default;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }

            &__active, &.active {
                color: $secondary;
                font-weight: bold;
                &:before {
                    content: '';
                    background: $secondary;
                    height: 3rem;
                    width: 140%;
                    top: -100%;
                    margin-left: -20%;
                    position: absolute;
                    transition: $transition-default;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }
            }

            &.menu__link__svg {
                padding: 16px;
                transition: background 0.2s ease;
                border-radius: $border-radius-default;

                &:before { content: none; }

                i {
                    width: 32px;
                }

                &:hover, &:focus {
                    background: $primary;
                    padding: 14px;
                    outline: none;
                    i {
                        width: 36px !important;
                    }
                }
            }
        }

    }

    .menu__close-button {
        //display: none;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        height: 57px; //30px;
        width: 57px; //40px;


        background: $primary;
        padding: 1rem;
        border-radius: 100%; //$border-radius-default;
        cursor: pointer;

        display: none;

        &:hover, &:focus {
            cursor: pointer;
            background: $primary-dark;
            outline: none;
        }

        @include breakpoint(xmedium down) {
            display: block;
        }

        &::after,
        &::before {
            content: "";
            background-color: black;
            display: block;
            height: 2px;
            position: absolute;
            top: 19px;
            right: 11px;
            width: 27px;
        }

        &::after {
            transform-origin: bottom left;
            transform: rotate(45deg);
        }

        &::before {
            transform-origin: bottom right;
            transform: translateX(-7px) rotate(-45deg);
        }
    }

    .has-submenu .menu {
        height: 1px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: left;
        transform: translateY(-20px);
        transition: transform .2s ease-in-out,
        opacity .1s ease-out;
        width: fit-content;

        .menu__link {
            text-align: left;
        }
    }

    .has-submenu:hover .menu,
    .has-submenu .menu__link:focus + .menu,
    .menu:focus-within {
        transform: translate(0);
        opacity: 1;
        z-index: 1;
    }
}
