section {
    min-height: $section-height-default;
    height: auto;
    position: relative;
    margin: 1.5rem 0;

    @include breakpoint(xmedium down) {
        height: auto;
        min-height: $section-height-default;
    }

    &.header__carousel {
        height: auto;
        min-height: 90vh;
        margin: 0;

        .frame__left__container {
            position: relative;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-wrap: wrap;


            .frame {
                //transform: translateY(calc(-#{$nav-height} / 2));
                //padding-top: calc(-#{$nav-height} / 2);
                height: fit-content !important;

                @include breakpoint(xmedium down) {
                    //padding-top: calc( #{$nav-height} * 2);
                    //transform: translateY(0);
                    margin-right: 1rem;
                }
            }

            .frame__buttons__container {
                margin-top: 0;

                @include breakpoint(large only) {
                    margin-top: -1rem;
                }

                @include breakpoint(xmedium down) {
                    justify-self: center;
                    margin: 1rem auto;
                }

                @include breakpoint(small down) {
                    width: calc(100% - 2rem)
                }

                .button__round {
                    min-width: 420px;
                    @include breakpoint(small down) {
                        min-width: 100%;
                    }
                    //.after__icon { margin-top:0; }
                    &:hover {
                        //.after__icon { margin-top: 5px; }
                    }
                }
            }
        }

        .frame:nth-child(2)  {
            @include breakpoint(xmedium down) {
                margin-left: 1rem;
            }
        }

    }

    &.map {
        position: initial;
        min-height: 60px;
    }
}