/******* TO TOP BUTTON *******/

.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    background: $secondary;

    height: 95px;
    width: 78px;
    border-top-left-radius: $border-radius-default;

    display: flex;
    justify-content: center;
    align-items: center;

    @include z-index(footer);

    .icon {
        transition: $transition-default;
        pointer-events: none;
    }

    &:hover {
        .icon {
            transform: scale(0.8);
        }
    }

}