.upcoming-events__container {
    height: auto;
    max-height: 730px;
    position: relative;
    width: 100%;

    @include breakpoint(xmedium down) {
        max-height: none;
        //min-height: 900px;
        min-height: 1300px;
        transform: translateY(20%);
    }

    .upcoming-events__background {
        background: $primary-light;
        width: 90%;
        left: 0;
        position: absolute;
        min-height: 350px;
        border-radius: 0 $border-radius-default $border-radius-default 0;
    }

    .upcoming-events__content {
        position: relative;
        top: 0;
        max-height: 730px;
        width: 100%;

        .upcoming-events__right-side {
            @include breakpoint(xmedium down) {
                max-width: 100vw;
            }
        }
        /** WEEK PICKERS **/
        .upcoming-events__weeks {
            //overflow-x: scroll;
            display: inline-block;
            margin-top: -2.8rem;

            height: 150px;
            width: 100%;

            @include breakpoint(xmedium down) {
                margin-top: -1.5rem;
            }
        }
        .upcoming-events__weeks-container {
            display: flex;
            flex-wrap: nowrap;
            //overflow-x: scroll;
            //margin-top: -3rem;

            .flickity-viewport {
                width:100%;

                @include breakpoint(xmedium down) {
                    margin-left: 1rem;
                }
            }

            .upcoming-events__week, .upcoming-events__week__full-calendar {
                background: $primary;
                border-radius: $border-radius-default;
                padding: 1.7rem 0.3rem 2rem 0.3rem;

                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                margin: 0 1rem 0 1rem;

                height: 110px;
                width: 90px;
                overflow: hidden;
                cursor: pointer;

                transition: $transition-default;

                &.upcoming-events__week--active, &:hover {
                    height: 150px;
                    background: $primary-dark;
                }

                &__full-calendar {
                    background: $secondary;
                    padding: 2rem 0.3rem 2rem 0.3rem;

                    &:hover {
                        background: $secondary-dark;
                        height: 110px;
                    }

                    &:after {
                        content: '';
                        background-image: url(map-get($sprites, 'agenda_complet_white'));
                        height: 42px;
                        width: 42px;
                        color: white;
                    }
                }

                .upe__week-day, .upe__week-month, .upe__week-results {
                    color: white;
                }

                .upe__week-day {
                    font-size: 2.2rem;
                    font-weight: 400;
                }

                .upe__week-month {
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 400;

                }
                .upe__week-results {
                    font-size: .9rem;
                    font-weight: lighter;
                    padding-top: 1.5rem;
                }
            }
        }

        /** CAROUSEL FRAME CONTENT **/
        .frame {
            justify-self: flex-start;
            align-self: flex-start;

            .upcoming-events__complete-button {
                margin-top: 3rem;
            }
        }

        .upcoming_events__list-container {
            height: 550px;
            width: 100%;

            .agenda-carousel {
                //max-height: 400px;
                padding: 2rem 0;

                .flickity-slider {
                    position: relative;
                    //height: 400px;
                    width: 70vw;

                    @include breakpoint(xmedium down) {
                        width: 100vw;
                    }

                    .event__item {
                        width: 390px;
                        min-height: 475px;
                        margin-left: 2rem;

                        &:first-child {
                            margin-left: 0;
                        }

                        img {
                            border-radius: 0;
                            min-height: 140px;
                            height: 240px;
                            max-height: 240px;
                        }
                    }

                    .event__item__show-all {
                        width: 390px;
                        height: 475px;
                        background: $primary-dark;
                        border-radius: $border-radius-default;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        margin-left: 2rem;

                        &:hover {
                            background: $primary;
                        }
                    }

                }
            }
        }
    }
}