$global-width: rem-calc(1300);

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}



/*********************
COLORS
*********************/

$black: #000;
$white: #fff;

$primary: #89C8CC;
$primary-light: #C2ECEF;
$primary-dark: #609B9F;

$secondary: #EE7151;
$secondary-light: #E3CEBF;
$secondary-dark: #B44A2F;

$blue: #246490;
$darkblue: #0E324B;
$pink: #EA5160;
$yellow: #FBBB2C;
$lightpink: #FAE4D4;
$lightbrown: #E3CEBF;
$lightgrey: #F5F5F5;
$darkgreen: #417579;

$text-dark: rgba($darkblue, 0.9);
$text-light: rgba(255,255,255,0.9);

// Social Media Colours. Source: https://www.lockedownseo.com/social-media-colors/
$social-facebook: #3b5998;
$social-twitter: #1da1f2;
$social-googleplus: #db4437;
$social-youtube: #ff0000;
$social-linkedin: #007bb5;
$social-instagram: #c32aa3;
$social-instagram-alt1: #4c5fd7;
$social-instagram-alt2: #7232bd;
$social-instagram-alt3: #f46f30;
$social-instagram-alt4: #ffdc7d;
$social-pinterest: #bd081c;
$social-vine: #00b489;
$social-snapchat: #fffc00;
$social-quora: #aa2200;
$social-flickr: #f40083;
$social-flickr-alt: #006add;
$social-tumblr: #35465d;
$social-vk: #4a76a8;
$social-vimeo: #1ab7ea;
$social-foursquare: #f94877;
$social-tripadvisor: #79c667;


/*********************
Spacing
*********************/

$small: 7px;
$medium: 15px;
$xmedium: 30px;
$large: 45px;
$xlarge: 60px;
$xxlarge: 120px;


/*********************
Breakpoints
*********************/

$breakpoints: (
        small: 0,
        medium: 480px,
        mdmedium: 580px,
        xmedium: 720px,
        large: 1024px,
        xlarge: 1200px,
        xlargemore: 1240px,
        xxlarge: 1570px,
        cap: 2000px,
);

/*********************
Other Variables
*********************/
$transition-default: all .4s ease;
$grid-spacing: 2rem;
$nav-height: 146px;
$border-radius-default: 40px;
$section-height-default: 420px;


