main {
    overflow: hidden;
}

body {
    @include newbery;
    //@include type--size;
    color: $text-dark;
    font-weight: lighter;
    padding-top: calc(#{$nav-height} + 0.5rem);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
    //    @include fontName;
    text-transform: uppercase;

    &.h_color__primary {
        color: $primary !important;
    }
    &.h_color__secondary {
        color: $secondary !important;
    }
    &.h_color__yellow {
        color: $yellow !important;
    }
    &.h_color__pink {
        color: $pink !important;
    }
    &.h_color__darkblue {
        color: $darkblue !important;
    }

    &.h_color__white {
        color: $text-light !important;
    }

    &.h_padding__top {
        padding-top: 2rem;
    }
}

h1, .h1 {
    font-size: 2.8rem;

    @include breakpoint(large down) {
        font-size: 2.3rem;
    }

    @include breakpoint(xmedium down) {
        font-size: 2rem;
    }
}
h2,.h2 {
    font-size: 2rem;

    @include breakpoint(large down) {
        font-size: 1.8rem;
    }

    @include breakpoint(xmedium down) {
        font-size: 1.6rem;
    }
}
h3, .h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button,
[type=button] {
    background-color: transparent;
    border: none;
}

p {
    font-weight: lighter;
    line-height: 1.4em;
}

