@import 'src/base/_icon-mixin';

.icon {
    position: relative;
    display: inline-block;
    max-width: 100%;

    &::before {
        content: '';
        display: block;
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// keep aspect ratio svgs with padding-top hack
@each $name, $url in $sprites {
    .icon--#{$name} {
        //@include sprite($name); for css svg but only available in original colors
        $size: map-get($sizes, $name);
        $height: map-get($size, height);
        $width: map-get($size, width);
        $paddingTop: percentage($height / $width);


        &::before {
            padding-top: $paddingTop;
        }
    }
}