@mixin object-fit($content: cover, $position: center) {
    height: 100%;
    font-family: 'object-fit: #{$content}, object-position: #{$position}';
    object-fit: $content;
    object-position: $position;
    width: 100%;
}