//@mixin fontName() {
//    font-family: "fontName", Helvetica, Arial, Sans-Serif;
//    font-weight: 400;
//    font-style: normal;
//}
//
//
//@mixin type--21() {
//    font-size: 21px;
//    line-height: 24px;
//
//    @include breakpoint(medium down) {
//        font-size: 18px;
//        line-height: 22px;
//    }
//}

@mixin newbery() {
    font-family: newbery-sans-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin newbery() {
    font-family: newbery-sans-pro,sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin newbery() {
    font-family: newbery-sans-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
}


