//Taken from https://jonsuh.com/blog/organizing-z-index-with-sass/
$z-index: (
    modal: 200,
    menu: 150,
    header: 100,
    footer: 90,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}