// Gutenberg - Sidebar block - Remove the text settings with CSS
.blocks-font-size {
    display: none;
    margin-bottom: 0;
}

//Site lock-down style
.energysaver-site-lockdown-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.energysaver-site-lockdown-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.energysaver-site-lockdown-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 34px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.energysaver-site-lockdown-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    border-radius: 50%;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#energysaver-site-lockdown:checked + .energysaver-site-lockdown-slider {
    background-color: #2196F3;
}

#energysaver-site-lockdown:focus + .energysaver-site-lockdown-slider {
    box-shadow: 0 0 1px #2196F3;
}

#energysaver-site-lockdown:checked + .energysaver-site-lockdown-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}