// Base config
@import 'src/base/util/util';
@import 'src/base/_config';
@import 'src/base/_mixins';
@import 'src/base/_z-index';
@import 'src/base/_icons';
@import 'src/base/_media';
@import 'src/base/_fonts';
@import 'src/base/_type';

.acf-block-preview {
    @import 'src/components/*.scss';
    @import 'src/blocks/*.scss';
    @import 'src/pages/*.scss';

    overflow: hidden;

    //reduce image size on multiple image slider
    .js-slider {
        display: flex;
        flex-wrap: wrap;

        img,
        > div,
        > figure {
            max-height: 170px;
            max-width: 170px;
        }
    }
}

// adjust block width
.wp-block {
    max-width: 1420px!important;
}

// Reset styling on admin images
#select-post-language,
#wp-admin-bar-languages {
    img {
        display: inline;
    }
}

//Fix to readjust column width on languages
td[class*=column-language_], th[class*=column-language_] {
    width: 3em;
}