// See also: http://codex.wordpress.org/Creating_Admin_Themes

body.login {
    h1 a {
        // Add custom logo (with custom size
        //background: url('../media/images/login-logo.png') no-repeat top center;
        width: 274px;
        height: 68px;
        
        // Hide site name
        text-indent: 100%;
        overflow: hidden;
        display: block;
        white-space: nowrap;
    }
}